bs4==0.0.2
fastapi==0.111.0
lxml==5.2.2
fastapi-limiter==0.1.6
nltk==3.8.1
pandas==2.2.2
psycopg2-binary==2.9.9
pyarrow==16.1.0
pydantic-settings==2.3.4
starlette==0.37.2
SQLAlchemy==2.0.31
SQLAlchemy-Utils==0.41.2
typing-extensions==4.12.2
python-dotenv==1.0.1
python-json-logger==2.0.7
sentry-sdk==2.7.1
toml==0.10.2
urllib3==2.2.2
